# Ignore everything by default
/**


!.gitignore
!/README.md

# Track specific configs
!Code/User/settings.json
!Code/User/keybindings.json
!Code/User/snippets/**
!Cursor/User/settings.json
!Cursor/User/keybindings.json
!Cursor/User/snippets/**

!aseprite/**
!aseprite/
!aseprite/extensions/theme-preferences/__pref.lua
aseprite/sessions/
aseprite/files/

!BetterDiscord/**/*.json
!BetterDiscord/**/*.css
!btop/**
!clips/**
!dooit/**
!gtk-*/**
!qt*/**
!hypr/**
!hypr/
!hyprpanel/**
!kicad/**
!kitty/**
!lazygit/**
!mako/**
!nvim/**
!slack/themes/**
!thunar/**
!tmux/tmux.conf
!waypaper/**
!wofi/**
!yazi/
!yazi/init.lua
!yazi/keymap.toml
!yazi/package.toml
!yazi/theme.toml
!yazi/yazi.toml
!starship.toml
!resources/**
!resources/
!symlinks/**
!/install.sh
!/install_packages.sh
!kanshi/
!waybar/
!waybar/**

# ignore certain patterns in tracked directories
**/.DS_Store
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.log
**/*.tmp
**/*.bak
**/*.old
**/*.cache
**/*.bak