* {
  color-fg: #e0def4;
  color-bg: #191724cc;
  color-black: #191724;
  color-blue: #9ccfd8;
  color-yellow: #f6c177;
  color-red: #eb6f92;
  color-white: #e0def4;
  color-green: #31748f;
  color-iris: #c4a7e7aa;
  color-lightgray: #6e6a86;
  rounded-sm: 2px;
  rounded-md: 4px;
  rounded-lg: 6px;
  rounded-xl: 10px;
  rounded-full: 9999px;
}

// vi: ft=css
